$fullHeight: 100vh;

main {
    display: -webkit-flex;
    display: flex;
    width: 100%;

    aside.articles-container {
        width: 35%;
        padding: 1em;
        .load-next-button {
             box-shadow: 0.3em 0.3em 1em #888888;
             display: inline-block;
             margin: 1em auto;
        }
    }
    article.article-detailed-view-container {
        padding: 1em;
        width: 65%;
    }
}
