@mixin multilineElipsis($max-height, $lines-to-show) {
    display: block;
    display: -webkit-box;
    max-height: $max-height;
    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.button-container-center-align {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
}
